*{
    margin:0px;
    padding:0px;
    font-family: Helvetica Neue; 
}

body {

   background-size: cover;
   background:url(../IMAGENES/backg.jpg) no-repeat top center #efeff1;
   color: #EEEEEE;

}

/*titulo*/

div#titulo{
    position:relative;
    background:rgba(241,231,205,0.7);
    height: 100px;
    text-align:center;
}

p#header{

    font-size: 4em;
    color:#545454;

}

#tablalibros {
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    align-items: center;
    width: 200px;
    height: 550px;
    color: black;
}

header{
    margin-bottom:20px;
    margin-left:20px;
    margin-top:12px;
    width:100px;
    height:660px;
    position:absolute;
}

div.contenedor{
    width: 120px;
    height: 150px;
    float:left;
    -webkit-transition: height .4s;
    text-align: left;
}

div#uno{
    background-color: #f1e7cd;
}

div#dos{
    background-color: #d1c5a3;
}

div#tres{
    background-color: #f1e7cd;
}

div#cuatro{
    background-color:#d1c5a3;
}

div#cinco{
    background-color: #f1e7cd;
}

div#seis{
    background-color:#d1c5a3;
}

img.icon{
    display: block;
    margin:10px auto;
    background-color: rgba(255,255,255,.15);
    width:100px;
    padding:0px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);
    -webkit-transition:box-shadow .4s;
    }

p.texto{
    font-size: 1.2em;
    color:black;
    text-align: center;
    opacity: .6;
    padding-top:0px;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover{
    height:170px;
}

div.contenedor:hover p.texto{
    padding-top: 20px;
    opacity: 1;
}

div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
