*{
    margin:0px;
    padding:0px;
    font-family: Helvetica Neue; 
}

body {

   background-size: cover;
   background:url(../IMAGENES/backg.jpg) no-repeat top center #efeff1;
   color: #EEEEEE;

}

/*titulo*/

div#titulo{
    position:relative;
    background:rgba(241,231,205,0.7);
    height: 100px;
    text-align:center;
}

p#header{

    font-size: 4em;
    color:#545454;

}

#tablalibros {
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    align-items: center;
    width: 200px;
    height: 550px;
    color: black;
}

header{
    margin-bottom:20px;
    margin-left:20px;
    margin-top:12px;
    width:100px;
    height:660px;
    position:absolute;
}

div.contenedor{
    width: 120px;
    height: 150px;
    float:left;
    -webkit-transition: height .4s;
    text-align: left;
}

div#uno{
    background-color: #f1e7cd;
}

div#dos{
    background-color: #d1c5a3;
}

div#tres{
    background-color: #f1e7cd;
}

div#cuatro{
    background-color:#d1c5a3;
}

div#cinco{
    background-color: #f1e7cd;
}

div#seis{
    background-color:#d1c5a3;
}

img.icon{
    display: block;
    margin:10px auto;
    background-color: rgba(255,255,255,.15);
    width:100px;
    padding:0px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0);
    -webkit-transition:box-shadow .4s;
    }

p.texto{
    font-size: 1.2em;
    color:black;
    text-align: center;
    opacity: .6;
    padding-top:0px;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover{
    height:170px;
}

div.contenedor:hover p.texto{
    padding-top: 20px;
    opacity: 1;
}

div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color:black;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
